@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}


.VisibleContenu::-webkit-scrollbar {
  width: 12px;
}


.VisibleContenu::-webkit-scrollbar-track {
  background: #44ADA8;
  border-radius: 5px;
}

.VisibleContenu::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 20px;
  border: 3px solid #44ADA8;
}




